.cosas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(141, 187, 202);
    border: 5px solid black;
    width: 600px;
    height: 1000px;
    margin: 50px auto; 
    border-radius: 32px;
}
img {

border-radius: 300px;
height: 20%;


}
h2 {
    background-color: rgb(141, 187, 202);
    width: 50%;
    padding: 10px;
    margin: 0;
}

.enlases {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}

button {
    width: 400px;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.azul-claro {
    background-color: lightblue;
    justify-content: center;
    transition: color 1s;
   
}
.azul-claro:hover {
    background-color: rgb(96, 166, 190);
   
   
}

.azul-medio-oscuro {
    background-color: #3498db;
    color: white;
    justify-content: center;
    transition: color 1s;
   
}
.azul-medio-oscuro:hover {
    background-color: #246fa0;
 
   
}
.github {
    background-color: #ff8000;
    color: black;
    justify-content: center;
    transition: color 1s;
}
.github:hover {
    background-color: #b36a0b;
}
button {
    cursor: pointer;

}
a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
}
body{
    background-color: #a3e1f6;
}
